*{
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#wrapper{
	background-color: #fff;
    position: relative;
}
.header, .header-wrapper {
    width: 100%;
    z-index: 30;
    position: relative;
    background-size: cover;
    background-position: 50% 0;
    -webkit-transition: background-color .3s,opacity .3s;
    -o-transition: background-color .3s,opacity .3s;
    transition: background-color .3s,opacity .3s;
}
body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
